.calendar__header {
  margin-top: $xxs-size;
  display: flex;
  flex-direction: column;
}

.calendar__dates {
  margin-top: $xxs-size;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $grayBorder;
  border-radius: 3px;
  padding: $xs-size;
}

.calendar__dates__checkin,
.calendar__dates__checkout {
  border: none;
  outline: none;
}

.calendar__picker {
  margin-top: $xxs-size;
  padding: $calendarPadding;
  border: 1px solid $grayBorder;
  border-radius: 3px;
}

.calendar__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.calendar__arrow__button {
  border: 1px solid $grayArrow;
  border-radius: 3px;
  outline: none;
  padding: 0;
  height: $ml-size;
  width: $l-size;
}

.calendar__arrow__left {
  height: 22px;
  width: auto;
}

.calendar__arrow__right {
  height: 22px;
  width: auto;
}