.month__table {
  border-collapse: collapse;
  font-size: $xs-size;
}

.month__weekday {
  font-weight: 600;
  width: $cellSize;
  padding-bottom: $xxxs-size;
  color: $weekdays;
}

.day {
  width: $cellSize;
  height: $cellSize;
  text-align: center;
  border: 1px solid $grayBorder;
  padding: 0;
}

.day__blank {
  border: none;
}

.day__button {
  color: $darkGray;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-weight: 700;
}

.day__button__candidate {
  background: $lightGray;
  color: #fff;
}

.day__td__selected {
  border: 1px solid $selectedBorder;
}

.day__button__selected {
  background: $selected;
  color: #fff;
}

.day__td__between {
  border: 1px solid $betweenBorder;
}

.day__button__between {
  background: $between;
  color: #fff;
}

.day__button__between.day__button__candidate {
  background: lighten($between, 10%);
}

.day__button__selected.day__button__candidate {
  background: lighten($selected, 10%);
}

.day__button__na {
  text-decoration: line-through;
  color: $lightGray;
}

.day__button__conflict {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  color: red;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 2px, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, -2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, -2px, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 2px, 0);
  }
}

@media screen and (min-width: 376px) {
  .day {
    width: $largeCellSize;
    height: $largeCellSize;
  }
  .month__weekday {
    width: $largeCellSize;
  }
}