//Spacing
$xl-size: 4.8rem;
$l-size: 3.2rem;
$ml-size: 2.4rem;
$m-size: 1.6rem;
$s-size: 1.4rem;
$xs-size: 1.2rem;
$xxs-size: 0.8rem;
$xxxs-size: 0.4rem;
$desktop-breakpoint: 45rem;
//Sizes
$dateInputWidth: 100px;
$calendarWidth: 250px;
$largeCalendarWidth: 376px;
$calendarPadding: $xxs-size;
$largeCalendarPadding: $m-size;
$cellSize: calc( (#{$calendarWidth} - 2 * #{$calendarPadding}) / 7);
$largeCellSize: calc( (#{$largeCalendarWidth} - 2 * #{$largeCalendarPadding}) / 7);
$weekDaysHeight: calc( 0.7 * #{$cellSize});
$weekDaysLargeHeight: calc( 0.7 * #{$largeCellSize});
//Colors
$lightGray: #d8d8d8;
$grayText: rgb(216, 216, 216);
$grayBorder: rgb(228, 231, 231);
$grayArrow: rgb(196, 196, 196);
$gray: gray;
$darkGray: #484848;
$unassignedDate: rgb(117, 117, 117);
$weekdays: #757575;
$selected: #01A599;
$selectedBorder: rgb(0, 166, 153);
$between: rgb(102, 226, 218);
$betweenBorder: rgb(51, 218, 205);
$turquoise: #0D888D;
$activeDate: rgb(153, 237, 230);
$submit: #FF5A5F;
$white: #fff;